// 全体統一
.main-font-family {
    font-family: Arial Black;
}
.main-ja-font-family {
    font-family: serif;
}
.container {
    margin-bottom: 5rem;
}

// ナビバー nav.blade.php
.nav-fixed {
    position: sticky;
    top: 0;
    z-index: 10;
}
// ボトムナビバー bottomNav.blade.php
.fixed-bottom{
    z-index: 10;
}

// カード（投稿）card.blade.php
.card {
    box-shadow: none;
    border: solid 1px #dee2e6;
    .border-image {
        border-radius: 40px;
    }
    .border-pref {
        border-radius: 20px;
        border: 1px solid #dee2e6;
    }
}

// モーダル
.modal {
    .border-maintenance-modal {
        border-top: none;
    }
}

// ランキング 装飾
.ranking-heading {
	position: relative;
	padding-top: 50px;
	padding-left: 30px;
}
.ranking-heading span {
	position: relative;
	z-index: 2;
}
.ranking-heading::before {
	content: attr(data-en);
	position: absolute;
    transform: translateX(-50%) rotate(-5deg);
	top: -20px;
	left: 50%;
    padding: 10px;
    background: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
    background: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

	font-size: 80px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}

// １位
.ranking-first {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.ranking-first::before,
.ranking-first::after {
	content: '';
	width: 60px;
	height: 5px;
	background: -webkit-linear-gradient(0deg, #B67B03 10%, #DAAF08 20%, #FEE9A0 50%, #DAAF08 80%, #B67B03 90%); 
}
.ranking-first::before {
	margin-right: 20px;
}
.ranking-first::after {
	margin-left: 20px;
}
// ２位
.ranking-second {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.ranking-second::before,
.ranking-second::after {
	content: '';
	width: 60px;
	height: 5px;
	background: -webkit-linear-gradient(0deg, #ccc 10%, #868888 20%, #d8dcdc 50%, white 80%, #ccc 90%); 
}
.ranking-second::before {
	margin-right: 20px;
}
.ranking-second::after {
	margin-left: 20px;
}
// ３位
.ranking-third {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.ranking-third::before,
.ranking-third::after {
	content: '';
	width: 60px;
	height: 5px;
	background: -webkit-linear-gradient(0deg, #a57e65 10%, #a57e65 20%, white 50%, #a57e65 80%, #a57e65 90%); 
}
.ranking-third::before {
	margin-right: 20px;
}
.ranking-third::after {
	margin-left: 20px;
}

// サイドメニュー
.sidemenu-fixed {
    position: fixed;
}
