/* 全体統一 */
.bg-black {
	background-color: #000000;
}
.main-font-family {
    font-family: Arial Black;
}
.main-ja-font-family {
    font-family: serif;
}
.main-font-family-cursive {
    font-family: cursive;
}
.font-nico-moji {
	font-family: "Nico Moji";
}
.text-color-gold {
	color: #FFD700;
}
.container {
    margin-bottom: 5rem;
}
.text-pre-wrap {
	white-space: pre-wrap;
}
.z_index_1 {
	z-index: 1;
}
.extra-small {
	font-size: 0.5rem; /* 希望のサイズに調整 */
}
.large-icon {
  font-size: 180%;
}
.large-icon-2 {
  font-size: 150%;
}
.modal-body {
	max-height: calc(100vh - 100px);
	overflow-y: auto;
}

// ドロップダウンメニュー
.full-width-dropdown {
	width: 100vw;
	max-width: 100%;
}

/* ナビバー nav.blade.php */ 
#navbar {
	transition: top 0.3s ease-in-out;
}
.nav-fixed {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ボトムナビバー bottomNav.blade.php */ 
.fixed-bottom{
    z-index: 1000;
}

/* ローディング */ 
#loading {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
}

/* カード（投稿）card.blade.php */
.card {
    box-shadow: none;
    border: solid 1px #dee2e6;
    .border-image {
        border-radius: 40px;
    }
    .border-pref {
        border-radius: 15px;
    }
}

/* モーダル */
.modal {
    .border-maintenance-modal {
        border-top: none;
    }
}

/* 投稿フローティングボタン */
.floating-bottom {
	left: 1rem;
	bottom: 4.5rem;
	position: fixed;
}

/* 投稿ボタンクリックでローディング中 */ 
.spinner-border {
    color: #32a852;
}
.button-loading {
	pointer-events: none; // ボタンを無効化する
	opacity: 0.6; // ボタンを半透明にする
}
.button-loading .spinner-border {
	display: inline-block;
}

/* TOP画像 ランキング画像配置 */
.image-container {
  position: relative;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  // background-color: rgba(255, 255, 255, 0.3); /* 透明度付きの背景色を設定 */
	// color: rgba(169, 169, 169, 0.5); /* 透過度付きのテキスト色を設定 */
	// text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  padding: 25px;
}
.ranking-4th-place-above {
  display: flex;
  align-items: center;  /* vertical alignment */
  justify-content: center; /* horizontal alignment */
  border-radius: 50%; /* make it round */
  background-color: #515050; /* background color */
  color: #ffffff; /* text color */
  width: 50px; /* same width and height */
  height: 50px; /* same width and height */
  font-size: 16px; /* adjust according to your preference */
  font-weight: bold; /* make the text bold */
  // box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* optional: add a shadow */
}



/* 検索フォーム全体のスタイル search.blade.php */
.search {
	display: flex;
  justify-content: center;
  margin-top: 1rem;
	
	.search-form {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 24px;
		padding: 6px;
		max-width: 400px;
	}

	// 入力フィールドのスタイル
	.search-input {
		flex-grow: 1;
		border: none;
		outline: none;
		padding: 8px;
		font-size: 16px;
	}

	// 検索ボタンのスタイル
	.search-button {
		background-color: #fff;
		border: none;
		outline: none;
		padding: 8px 12px;
		font-size: 16px;
		cursor: pointer;
	}

	// ホバー時のスタイル
	.search-button:hover {
		background-color: #e9ecef;
	}

	// プレースホルダーテキストのスタイル
	.search-input::placeholder {
		color: #999;
	}
}

// タックルの表示
.article-tackle {
	background: linear-gradient(135deg, #eee 0%, #ddd 100%);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

/* SP時の表示 */
@media (max-width: 576px) {
	// 全体
  .sp-text-small {
    font-size: 0.8rem;
  }
}