// 全体統一
.main-font-family {
    font-family: Arial Black;
}

// ナビバー nav.blade.php
.nav {
}

// カード（投稿）card.blade.php
.card {
    box-shadow: none;
    border: solid 1px #dee2e6;
}

// モーダル
.modal {
    .border-maintenance-modal {
        border-top: none;
    }
}
