@charset "UTF-8";

/* 全体統一 */

body {
  overscroll-behavior-y: none;
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.bg-black {
  background-color: #000000;
}

.text-color-gold {
  color: #FFD700;
}

.container {
  margin-bottom: 5rem;
  overflow-x: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.z_index_1 {
  z-index: 1;
}

.extra-small {
  font-size: 0.5rem;
  /* 希望のサイズに調整 */
}

.large-icon {
  font-size: 180%;
}

.large-icon-150 {
  font-size: 150%;
}

.large-icon-120 {
  font-size: 120%;
}

.modal-body {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.mb-20 {
  margin-bottom: 20rem;
}

.cursor-pointer {
  cursor: pointer;
}

.border-pref {
  border-radius: 15px;
}

/* フォント一覧 */

.main-font-family {
  font-family: Arial Black;
}

.main-ja-font-family {
  font-family: serif;
}

.main-font-family-cursive {
  font-family: cursive;
}

.font-nico-moji {
  font-family: "Nico Moji";
}

@font-face {
  font-family: "Black Ops One";
  src: url("/fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

.font-black-ops-one {
  font-family: "Black Ops One";
}

.bg-light-green {
  background-color: #e8f5e9;
}

.notification-number-label {
  position: absolute;
  top: 0.1rem;
  right: 0.3rem;
  font-size: 12px;
  /* フォントサイズも調整可能です */
  line-height: 16px;
  text-align: center;
  z-index: 1;
  /* アイコンの前に配置するためのz-index */
  background-color: rgba(246, 5, 5, 0.8);
  /* 黒色の半透明 */
  border-radius: 50%;
  /* make it round */
  color: #ffffff;
  /* text color */
  width: 16px;
  /* same width and height */
  height: 16px;
  /* same width and height */
  font-weight: bold;
  /* make the text bold */
}

.full-width-dropdown {
  width: 100vw;
  max-width: 100%;
}

/* ナビバー nav.blade.php */

#navbar {
  transition: top 0.3s ease-in-out;
}

.nav-fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* ナビ ドロップダウン */

.nav-item .dropdown-item {
  display: flex;
  align-items: center;
}

.nav-item .dropdown-item i {
  flex: 0 0 20%;
  /* icon takes up 20% of the space */
  text-align: center;
  margin-right: 10px;
}

.nav-item .dropdown-item span {
  flex: 0 0 80%;
  /* text takes up 80% of the space */
}

/* ボトムナビバー bottomNav.blade.php */

#bottom-navbar {
  transition: bottom 0.3s ease-in-out;
}

.fixed-bottom {
  z-index: 1000;
}

/* ローディング */

#loading {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

/* カード（投稿）card.blade.php */

.card {
  box-shadow: none;
  border: solid 1px #dee2e6;
}

.card .border-image {
  border-radius: 30px;
}

.card-box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.card-bottom {
  border-bottom: 1px solid #ccc;
}

.card-bottom .border-image {
  border-radius: 30px;
}

/* モーダル */

.modal .border-maintenance-modal {
  border-top: none;
}

/* 投稿フローティングボタン */

.floating-bottom {
  right: 1rem;
  bottom: 4.5rem;
  position: fixed;
  transition: bottom 0.3s ease-in-out;
}

/* スピナーローディング中の色 */

.spinner-border {
  color: #4285F4;
}

.button-loading {
  pointer-events: none;
  opacity: 0.6;
}

.button-loading .spinner-border {
  display: inline-block;
}

/* TOP画像 ランキング画像配置 */

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
}

.text-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

/* 
 * TOP画像のslick
 * PC表示の時
 */

@media (min-width: 576px) {
  .text-overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: bold;
    padding: 25px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  .text-overlay-3 span {
    font-size: 1rem;
    font-weight: 300;
  }
}

/* SP表示の時*/

@media (max-width: 576px) {
  .text-overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  .text-overlay-3 span {
    font-size: 0.5rem;
    font-weight: 300;
  }
}

.ranking-4th-place-above {
  display: flex;
  align-items: center;
  /* vertical alignment */
  justify-content: center;
  /* horizontal alignment */
  border-radius: 50%;
  /* make it round */
  background-color: rgba(0, 0, 0, 0.5);
  /* 黒色の半透明 */
  color: #ffffff;
  /* text color */
  width: 40px;
  /* same width and height */
  height: 40px;
  /* same width and height */
  font-size: 14px;
  /* adjust according to your preference */
  font-weight: bold;
  /* make the text bold */
}

/* 検索フォーム全体のスタイル search.blade.php */

.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search .search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 6px;
  max-width: 400px;
}

.search .search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.search .search-button {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.search .search-button:hover {
  background-color: #e9ecef;
}

.search .search-input::-moz-placeholder {
  color: #999;
}

.search .search-input::placeholder {
  color: #999;
}

/* SP時の表示 */

@media (max-width: 576px) {
  .sp-text-small {
    font-size: 0.8rem;
  }
}

.custom-file-upload {
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  color: #007bff;
  width: 100%;
  /* 100%にして親要素に合わせる */
  padding-bottom: 100%;
  /* 幅に合わせて高さも100%にする */
  text-align: center;
  position: relative;
  /* 子要素の基準として使用 */
  box-sizing: border-box;
  /* ボーダーのサイズを含むようにする */
  border-radius: 20px;
  background-position: center;
  /* 背景画像を中央に配置 */
  background-repeat: no-repeat;
  /* 背景画像を繰り返さない */
  background-size: cover;
  /* 背景画像が要素を完全にカバーするようにサイズを調整 */
}

.custom-file-upload i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* アイコンを正確に中央に配置 */
  line-height: normal;
  /* アイコンのline-heightをリセット */
  font-size: 150%;
}

.custom-file-upload:hover {
  background: #f5f5f5;
  background-position: center;
  /* 背景画像を中央に配置 */
  background-repeat: no-repeat;
  /* 背景画像を繰り返さない */
  background-size: cover;
  /* 背景画像が要素を完全にカバーするようにサイズを調整 */
}

.number-label {
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  font-size: 16px;
  /* フォントサイズも調整可能です */
  z-index: 1;
  /* アイコンの前に配置するためのz-index */
  color: gray;
  background-color: rgba(0, 0, 0, 0.8);
  /* 黒色の半透明 */
  border-radius: 50%;
  /* make it round */
  color: #ffffff;
  /* text color */
  width: 20px;
  /* same width and height */
  height: 20px;
  /* same width and height */
  font-size: 14px;
  /* adjust according to your preference */
  font-weight: bold;
  /* make the text bold */
}

.user-profile-image {
  margin-top: -70px;
  border: 4px solid white;
}

.background-image {
  height: 230px;
  width: 100vw;
  /* viewport width units */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* SP時の表示 */

@media (max-width: 576px) {
  .background-image {
    height: 180px;
  }
}

.nav-link.active {
  border: none;
  card-bottom: 3px solid #007bff !important;
  color: #007bff !important;
}

.ranking-title {
  font-size: 22px;
  font-weight: 600;
  /* 太さを少し減らす */
  text-align: center;
  margin: 20px auto;
  /* 余白の調整 */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  /* 半透明の黒に */
  color: #ffffff;
  max-width: 100%;
  border-radius: 10px;
  /* 角を丸く */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* 影の追加 */
  letter-spacing: 1px;
  /* 文字間隔の調整 */
  line-height: 1.5;
  /* 行間の調整 */
}

.ranking-list-link {
  text-align: right;
  /* 右寄せにする */
  display: block;
  /* ブロックレベル要素にする */
}

.ranking-list-link:hover {
  color: #0056b3;
  /* ホバー時の色 */
}

