@charset "UTF-8";

/* 全体統一 */

.main-font-family {
  font-family: Arial Black;
}

.main-ja-font-family {
  font-family: serif;
}

.main-font-family-cursive {
  font-family: cursive;
}

.font-nico-moji {
  font-family: "Nico Moji";
}

.text-color-gold {
  color: #FFD700;
}

.container {
  margin-bottom: 5rem;
}

/* ナビバー nav.blade.php */

.nav-fixed {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* ボトムナビバー bottomNav.blade.php */

.fixed-bottom {
  z-index: 10;
}

/* ローディング */

#loading {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

/* カード（投稿）card.blade.php */

.card {
  box-shadow: none;
  border: solid 1px #dee2e6;
}

.card .border-image {
  border-radius: 40px;
}

.card .border-pref {
  border-radius: 5px;
  background-color: #caf87f;
}

/* モーダル */

.modal .border-maintenance-modal {
  border-top: none;
}

/* ランキング 装飾 */

.ranking-heading {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
}

.ranking-heading span {
  position: relative;
  z-index: 2;
}

.ranking-heading::before {
  content: attr(data-en);
  position: absolute;
  transform: translateX(-50%) rotate(-5deg);
  top: -20px;
  left: 50%;
  padding: 10px;
  background: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
}

.ranking-first {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ranking-first::before,
.ranking-first::after {
  content: "";
  width: 60px;
  height: 5px;
  background: -webkit-linear-gradient(0deg, #B67B03 10%, #DAAF08 20%, #FEE9A0 50%, #DAAF08 80%, #B67B03 90%);
}

.ranking-first::before {
  margin-right: 20px;
}

.ranking-first::after {
  margin-left: 20px;
}

.ranking-second {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ranking-second::before,
.ranking-second::after {
  content: "";
  width: 60px;
  height: 5px;
  background: -webkit-linear-gradient(0deg, #ccc 10%, #868888 20%, #d8dcdc 50%, white 80%, #ccc 90%);
}

.ranking-second::before {
  margin-right: 20px;
}

.ranking-second::after {
  margin-left: 20px;
}

.ranking-third {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ranking-third::before,
.ranking-third::after {
  content: "";
  width: 60px;
  height: 5px;
  background: -webkit-linear-gradient(0deg, #a57e65 10%, #a57e65 20%, white 50%, #a57e65 80%, #a57e65 90%);
}

.ranking-third::before {
  margin-right: 20px;
}

.ranking-third::after {
  margin-left: 20px;
}

/* 人気のタグ 装飾 */

.tag-heading {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
}

.tag-heading span {
  position: relative;
  z-index: 2;
}

.tag-heading::before {
  content: attr(data-en);
  position: absolute;
  transform: translateX(-50%) rotate(-5deg);
  top: -20px;
  left: 50%;
  padding: 10px;
  color: transparent;
  background: repeating-linear-gradient(0deg, #A1887F 0 0.1em, #6D4C41 0.1em 0.2em);
  -webkit-background-clip: text;
  font-size: 80px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
}

/* 天気予報 装飾 */

.weather-heading {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
}

.weather-heading span {
  position: relative;
  z-index: 2;
}

.weather-heading::before {
  content: attr(data-en);
  position: absolute;
  transform: translateX(-50%) rotate(-5deg);
  top: -20px;
  left: 50%;
  padding: 10px;
  color: transparent;
  background: repeating-linear-gradient(0deg, #0277BD 0.1em, #4FC3F7 0.2em, #E1F5FE 0.3em, #4FC3F7 0.4em, #0277BD 0.5em);
  -webkit-background-clip: text;
  font-size: 80px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
}

/* 検索ページ 装飾 */

.search-heading {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
}

.search-heading span {
  position: relative;
  z-index: 2;
}

.search-heading::before {
  content: attr(data-en);
  position: absolute;
  transform: translateX(-50%) rotate(-5deg);
  top: -20px;
  left: 50%;
  padding: 10px;
  color: transparent;
  background: repeating-linear-gradient(0deg, #C62828 0.1em, #EF5350 0.2em, #FFEBEE 0.3em, #EF5350 0.4em, #C62828 0.5em);
  -webkit-background-clip: text;
  font-size: 80px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
}

/* 投稿フローティングボタン */

.floating-bottom {
  right: 1rem;
  bottom: 4rem;
  position: fixed;
}

/* 投稿ボタンクリックでローディング中 */

.spinner-border {
  color: #32a852;
}

.button-loading {
  pointer-events: none;
  opacity: 0.6;
}

.button-loading .spinner-border {
  display: inline-block;
}

/* TOP画像 */

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(169, 169, 169, 0.5);
  /* 透過度付きのテキスト色を設定 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  padding: 15px;
}

/* 検索フォーム全体のスタイル search.blade.php */

.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search .search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 6px;
  max-width: 400px;
}

.search .search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.search .search-button {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.search .search-button:hover {
  background-color: #e9ecef;
}

.search .search-input::-moz-placeholder {
  color: #999;
}

.search .search-input::placeholder {
  color: #999;
}

