.main-font-family {
  font-family: Arial Black;
}

.main-ja-font-family {
  font-family: serif;
}

.container {
  margin-bottom: 5rem;
}

.nav-fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  box-shadow: none;
  border: solid 1px #dee2e6;
}

.card .border-image {
  border-radius: 20px;
}

.modal .border-maintenance-modal {
  border-top: none;
}

.first-gold {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.second-silver {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}

.third-copper {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, #ccc 0%, #a57e65 20%, #a57e65 34%, white 53%, #a57e65 100%);
}

.sidemenu-fixed {
  position: fixed;
}

